html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
.department{background:#f1c40f}
.employee{background:#2ecc71}
.physician{background:#e74c3c}
.resident{background:#3498db}
.student{background:#34495e}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{background:#ecf0f1;color:#222;font-family:sans-serif;font-size:13pt}
button,input{font-family:sans-serif}
a:link,a:visited{color:#3498db}
a:hover{color:#75b9e7}
.inlineBlock{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline}
#loader{text-align:center;margin:1em}
.action{background:#8e44ad;cursor:pointer;-webkit-user-select:none;box-shadow:inset 0 -2px 0 1px #703688;color:#f9f9f9;border-radius:5px;padding:.3em 1.3em .4em;font-size:1em;-webkit-appearance:none;border:none;width:100%;padding:.75em}.action:hover{color:#f9f9f9 !important;background:#9b59b6}
.action:focus{outline:none;background:#9b59b6;box-shadow:0 0 0 3px rgba(67,32,81,0.9)}
.action.empty{background:none;color:#8e44ad;box-shadow:none;text-decoration:underline}.action.empty:hover{color:#9b59b6 !important;background:#dde4e6}
.action.empty:focus{outline:none;background:#f9f9f9}
.action.red{background:transparent;color:#c0392b;text-decoration:underline;box-shadow:none}.action.red:hover{color:#e74c3c !important;background:rgba(231,76,60,0.09999999999999998)}
.action.red:focus{background:rgba(231,76,60,0.19999999999999996);box-shadow:0 0 0 3px rgba(146,30,18,0.9)}
ul,li{list-style:none;margin:0;padding:0}
.modal{background:#f9f9f9;padding:1em;z-index:999}
.displayFlex{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.flexxed{-webkit-flex:1;flex:1}
.flexColumn{-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.flexUl li label{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;align-items:stretch}.flexUl li label span{display:block;width:100px;margin-right:.5em;text-align:right}
.flexUl li label .value{width:auto;-webkit-flex:1;flex:1;text-align:left;margin-right:0;font-size:1em;padding:4px 8px}
.flexUl li label input{border:0;border:1px solid #ecf0f1;background:#fff}
.btnRow{text-align:center;padding:1em 0 0;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;justify-content:space-around}
#loginBox{background:#f9f9f9;padding:1em;z-index:999;padding:2em 1em 1em;-webkit-user-select:none;width:400px;margin-left:-200px}#loginBox ul li label{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;align-items:stretch}#loginBox ul li label span{display:block;width:100px;margin-right:.5em;text-align:right}
#loginBox ul li label .value{width:auto;-webkit-flex:1;flex:1;text-align:left;margin-right:0;font-size:1em;padding:4px 8px}
#loginBox ul li label input{border:0;border:1px solid #ecf0f1;background:#fff}
.seltdContact{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;align-items:stretch;background:#f9f9f9;padding:1em;z-index:999;min-height:100%;padding:0}.seltdContact ul{-webkit-flex:1;flex:1;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-box-align:stretch;-moz-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;justify-content:space-between;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin:1em}.seltdContact ul li label{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;align-items:stretch}.seltdContact ul li label span{display:block;width:100px;margin-right:.5em;text-align:right}
.seltdContact ul li label .value{width:auto;-webkit-flex:1;flex:1;text-align:left;margin-right:0;font-size:1em;padding:4px 8px}
.seltdContact ul li label input{border:0;border:1px solid #ecf0f1;background:#fff}
.seltdContact ul li label{color:#34495e}
.seltdContact #newPhoto{display:none}
.seltdContact #profilePhoto{width:300px;height:400px;background-size:cover;background-position:center 10%;background-repeat:no-repeat;cursor:pointer;border:1px solid #bdc3c7}
.seltdContact .fullName{font-size:2em;display:block}.seltdContact .fullName em{font-size:.6em;color:#8e8e8e;font-style:normal}
#editContact #profilePhoto{cursor:pointer}
#viewContact li{padding:2px 0}
#viewContact label{display:block;color:#8e8e8e;font-size:.75em;vertical-align:bottom}
#viewContact span{vertical-align:bottom}
#viewContact .phone{margin:.5em 0;font-size:1.2em}
#viewContact .phone span{font-size:1.2em}
#viewContact .callPref .details{margin-left:.5em;font-size:.8em;color:#85372f}
#viewContact .email span{font-size:1em;overflow:hidden;text-overflow:ellipsis;width:16em;display:inline-block}
#viewContact .findPeople{text-align:center}
#app{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}#app #mainContent{-webkit-flex:1;flex:1}
#sideBar{width:250px;margin-right:1em;text-align:center;font-size:1.3em}#sideBar #inSideBar{position:-webkit-sticky;position:fixed;z-index:500;top:0;padding-top:1em;bottom:0;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
#sideBar #logo{-webkit-user-select:none;-webkit-appearance:none;background:transparent;cursor:pointer;border:0;font-size:1.5em;font-weight:bold;color:#8e44ad;margin:1em}#sideBar #logo :hover{color:#9b59b6}
#sideBar .sideLink{padding:.5em 0;cursor:pointer}#sideBar .sideLink.big{text-align:left;padding-left:2.7em}
#sideBar .sideLink:hover{color:#9b59b6}
#sideBar .sideLink .typeIcon{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:16px;height:16px;margin-right:.3em;vertical-align:4%}
#sideBar .sideLink.csv{font-size:.7em;margin:1em 0}
#sideBar .action{margin:0 3em;text-align:center}
#sideBar .searchType{background:transparent;position:relative;-webkit-user-select:none}#sideBar .searchType.seltd{color:#f9f9f9;border-radius:6px 0 0 6px}#sideBar .searchType.seltd.department{background:#f1c40f}#sideBar .searchType.seltd.department:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#f1c40f;pointer-events:none}
#sideBar .searchType.seltd.employee{background:#2ecc71}#sideBar .searchType.seltd.employee:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#2ecc71;pointer-events:none}
#sideBar .searchType.seltd.physician{background:#e74c3c}#sideBar .searchType.seltd.physician:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#e74c3c;pointer-events:none}
#sideBar .searchType.seltd.resident{background:#3498db}#sideBar .searchType.seltd.resident:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#3498db;pointer-events:none}
#sideBar .searchType.seltd.student{background:#34495e}#sideBar .searchType.seltd.student:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#34495e;pointer-events:none}
#sideBar #userLinks{font-size:.8em;margin:1em 0}#sideBar #userLinks #loggedInAs{margin-top:1em}#sideBar #userLinks #loggedInAs span{display:block;font-size:.8em;font-style:italic}
#sideBar #userLinks #loggedInAs:hover{color:#e74c3c}
.gutter{margin-top:3em;text-align:center;color:rgba(34,34,34,0.5)}
#searchBox{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;width:100%;-webkit-box-align:center;-moz-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:-webkit-sticky;background:#9b59b6;overflow:auto;z-index:100;padding:1em 0;top:0}#searchBox #search{-webkit-flex:1;flex:1;font-size:1.3em;border:none;border-radius:6px;padding:.4em;margin-left:.5em;box-shadow:inset 0 1px 2px #bdc3c7;cursor:pointer;-webkit-appearance:none}#searchBox #search:focus{outline:none;box-shadow:inset 0 0 0 4px rgba(46,204,113,0.7)}
#searchBox #letters{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;justify-content:space-between;-webkit-box-direction:normal;-moz-box-direction:normal;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:300px;margin-left:1em;opacity:.25;transition:opacity .3s}#searchBox #letters:hover{opacity:1}
#searchBox #letters .lettersRow{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;justify-content:space-between}
#searchBox #letters span{-webkit-user-select:none;cursor:pointer;-webkit-flex:1;flex:1;text-align:center;color:#8e44ad;border-radius:4px}#searchBox #letters span:hover{background:#dde4e6;color:#9b59b6}
#contacts .row{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;justify-content:space-between;align-items:center}#contacts .row.secondary{font-size:.8em;opacity:.8}
#contacts li{padding:.5em 1em;line-height:36px;border-bottom:1px solid #bdc3c7;cursor:pointer}#contacts li:last-child{border-bottom:none}
#contacts li:hover{background:#f9f9f9}
#contacts li .name strong{font-weight:bold}
#contacts li .title,#contacts li .location{font-size:.8em;font-style:italic;margin-left:.8em;opacity:.8}
#contacts li .highlight{box-shadow:0 4px 0 #f1c40f;background:rgba(249,249,249,0.7)}
#contacts li .type{font-style:italic;font-size:.8em;margin-left:1em;padding:2px 4px;color:#f9f9f9;text-transform:capitalize}
#contacts li .flex{-webkit-flex:1;flex:1}
#clearQuery{width:2em;height:2em;margin:0 .5em;text-align:center;align-items:center;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;color:#f9f9f9}
