.department{background:#f1c40f}
.employee{background:#2ecc71}
.physician{background:#e74c3c}
.resident{background:#3498db}
.student{background:#34495e}
.newHires{background:#9b59b6}
body{background:#ecf0f1;color:#222;font-family:sans-serif;font-size:13pt}
button,input{font-family:sans-serif}
a:link,a:visited{color:#3498db}
a:hover{color:#75b9e7}
.inlineBlock{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline}
#loader{text-align:center;margin:1em}
.action{background:#8e44ad;cursor:pointer;-webkit-user-select:none;box-shadow:inset 0 -2px 0 1px #703688;color:#f9f9f9;border-radius:5px;padding:.3em 1.3em .4em;font-size:1em;-webkit-appearance:none;border:none}.action:hover{color:#f9f9f9 !important;background:#9b59b6}
.action:focus{outline:none;background:#9b59b6;box-shadow:0 0 0 3px rgba(67,32,81,0.9)}
.action.empty{background:none;color:#8e44ad;box-shadow:none;text-decoration:underline}.action.empty:hover{color:#9b59b6 !important;background:#dde4e6}
.action.empty:focus{outline:none;background:#f9f9f9}
.action.red{background:transparent;color:#c0392b;text-decoration:underline;box-shadow:none}.action.red:hover{color:#e74c3c !important;background:rgba(231,76,60,0.09999999999999998)}
.action.red:focus{background:rgba(231,76,60,0.19999999999999996);box-shadow:0 0 0 3px rgba(146,30,18,0.9)}
ul,li{list-style:none;margin:0;padding:0}
.shade{position:fixed;top:0;left:0;right:0;bottom:0;background:#2c3e50;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity:.2;z-index:998}
.modal{background:#f9f9f9;padding:1em;width:800px;position:fixed;left:50%;margin-left:-400px;top:5%;border:6px solid #34495e;z-index:999}
.flexxed{height:1.5em}
.flexUl li label{align-items:stretch}.flexUl li label span{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:100px;margin-right:.5em;text-align:right}
.flexUl li label .value{width:auto;text-align:left;margin-right:0;font-size:1em;padding:4px 8px}
.flexUl li label input{border:0;border:1px solid #ecf0f1;background:#fff}
.btnRow{text-align:center;padding:1em 0 0}
#loginBox{background:#f9f9f9;padding:1em;width:800px;position:fixed;left:50%;margin-left:-400px;top:5%;border:6px solid #34495e;z-index:999;padding:2em 1em 1em;-webkit-user-select:none;width:400px;margin-left:-200px}#loginBox ul li label{align-items:stretch}#loginBox ul li label span{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:100px;margin-right:.5em;text-align:right}
#loginBox ul li label .value{width:auto;text-align:left;margin-right:0;font-size:1em;padding:4px 8px}
#loginBox ul li label input{border:0;border:1px solid #ecf0f1;background:#fff}
.seltdContact{align-items:stretch;background:#f9f9f9;padding:1em;width:800px;position:fixed;left:50%;margin-left:-400px;top:5%;border:6px solid #34495e;z-index:999;padding:0}.seltdContact ul{margin:1em;margin-left:316px}.seltdContact ul li label{align-items:stretch}.seltdContact ul li label span{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:100px;margin-right:.5em;text-align:right}
.seltdContact ul li label .value{width:auto;text-align:left;margin-right:0;font-size:1em;padding:4px 8px}
.seltdContact ul li label input{border:0;border:1px solid #ecf0f1;background:#fff}
.seltdContact ul li label{color:#34495e}
.seltdContact #newPhoto{display:none}
.seltdContact #profilePhoto{background-size:cover;background-position:center 10%;background-repeat:no-repeat;cursor:pointer;border:none;float:left;background:#34495e;width:300px;height:378px;overflow:hidden}.seltdContact #profilePhoto img{width:300px}
.seltdContact #profilePhoto.mdPhoto{overflow:hidden}.seltdContact #profilePhoto.mdPhoto img{width:auto;height:378px;margin-left:-120px}
.seltdContact .fullName{font-size:2em;display:block}.seltdContact .fullName em{font-size:.6em;color:#8e8e8e;font-style:normal}
#editContact #profilePhoto{cursor:pointer}
#viewContact li{padding:2px 0;line-height:1em}
#viewContact .dept{line-height:2em}
#viewContact label{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:120px;text-align:right;margin-right:.5em;color:#8e8e8e;font-size:.75em;vertical-align:bottom}
#viewContact span{vertical-align:bottom}
#viewContact .phone span{font-size:1.2em}
#viewContact .callPref .details{margin-left:.5em;font-size:.8em;color:#85372f}
#viewContact .email span{font-size:1em;overflow:hidden;text-overflow:ellipsis;width:16em;display:inline-block}
#viewContact .findPeople{text-align:center}
#app{width:900px;position:absolute;top:0;left:50%;margin-left:-450px}#app #mainContent{margin-left:280px}
#sideBar{width:250px;margin-right:1em;text-align:center;font-size:1.3em}#sideBar #inSideBar{position:-webkit-sticky;position:fixed;z-index:500;top:0;padding-top:1em;bottom:0}
#sideBar #logo{-webkit-user-select:none;-webkit-appearance:none;background:transparent;cursor:pointer;border:0;font-size:1.5em;font-weight:bold;color:#8e44ad;margin:1em;margin-top:0}#sideBar #logo :hover{color:#9b59b6}
#sideBar .sideLink{padding:.5em 0 .55em;cursor:pointer}#sideBar .sideLink.big{text-align:left;padding-left:2.7em}
#sideBar .sideLink:hover{color:#9b59b6}
#sideBar .sideLink .typeIcon{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:16px;height:16px;margin-right:.3em;vertical-align:4%}
#sideBar .sideLink.csv{font-size:.7em;margin:1em 0}
#sideBar .action{margin:0 3em;text-align:center}
#sideBar .searchType{background:transparent;position:relative;-webkit-user-select:none}#sideBar .searchType.seltd{color:#f9f9f9;border-radius:6px 0 0 6px}#sideBar .searchType.seltd.department{background:#f1c40f}#sideBar .searchType.seltd.department:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#f1c40f;pointer-events:none}
#sideBar .searchType.seltd.employee{background:#2ecc71}#sideBar .searchType.seltd.employee:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#2ecc71;pointer-events:none}
#sideBar .searchType.seltd.physician{background:#e74c3c}#sideBar .searchType.seltd.physician:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#e74c3c;pointer-events:none}
#sideBar .searchType.seltd.resident{background:#3498db}#sideBar .searchType.seltd.resident:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#3498db;pointer-events:none}
#sideBar .searchType.seltd.student{background:#34495e}#sideBar .searchType.seltd.student:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#34495e;pointer-events:none}
#sideBar .searchType.seltd.newHires{background:#9b59b6}#sideBar .searchType.seltd.newHires:after{content:'';background:transparent;width:0;height:0;position:absolute;left:100%;top:0;float:right;border:1.1em solid transparent;border-left-color:#9b59b6;pointer-events:none}
#sideBar #userLinks{font-size:.8em;margin:1em 0}#sideBar #userLinks #loggedInAs{margin-top:1em}#sideBar #userLinks #loggedInAs span{display:block;font-size:.8em;font-style:italic}
#sideBar #userLinks #loggedInAs:hover{color:#e74c3c}
.gutter{margin-top:5em;text-align:center;color:rgba(34,34,34,0.5)}
#searchBox{width:620px;position:fixed;background:#ecf0f1;overflow:auto;z-index:100;padding:1em 0;top:0}#searchBox #search{font-size:1.3em;border:2px solid #c0cdd1;padding:.3em .4em;cursor:pointer;-webkit-appearance:none}#searchBox #search:focus{outline:none;border-color:#9b59b6}
#searchBox #letters{margin-left:1em;margin-top:5px;opacity:.25;transition:opacity .3s;float:right}#searchBox #letters:hover{opacity:1}
#searchBox #letters .lettersRow{clear:both}
#searchBox #letters span{-webkit-user-select:none;cursor:pointer;text-align:center;color:#8e44ad;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:1.2em;float:left;border-radius:4px}#searchBox #letters span:hover{background:#dde4e6;color:#9b59b6}
#contacts .row{align-items:center}#contacts .row.secondary{font-size:.8em;opacity:.8}
#contacts li{padding:.5em 1em;border-bottom:1px solid #bdc3c7;cursor:pointer}#contacts li:last-child{border-bottom:none}
#contacts li:hover{background:#f9f9f9}
#contacts li.odd{background:#e3e9eb}#contacts li.odd:hover{background:#f1f1f1}
#contacts li .name strong{font-weight:bold}
#contacts li:hover .name{color:#8e44ad}
#contacts li .title,#contacts li .location{font-size:.8em;font-style:italic;margin-left:.8em;opacity:.8}
#contacts li .highlight{box-shadow:0 4px 0 #f1c40f;background:rgba(249,249,249,0.7)}
#contacts li .phone{float:right}
#contacts li .type{font-style:italic;font-size:.8em;margin-left:1em;padding:2px 4px;color:#f9f9f9;text-transform:capitalize;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline}
#newHires p{text-align:center;padding:4em 0}
#newHires #contacts{text-align:center}#newHires #contacts li{width:45%;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;border-bottom:none;padding:1em 0}#newHires #contacts li span{display:block}
#newHires #contacts li .startDate{display:inline;font-size:.8em}#newHires #contacts li .startDate span{display:inline}
#newHires #contacts li .name{font-weight:bold;line-height:1.6em;font-size:1.15em}
#newHires #contacts li:hover .name{color:#8e44ad}
#newHires #contacts li .title{font-style:normal;font-weight:bold;opacity:1}
#tips{-webkit-user-select:none;position:fixed;z-index:0;left:50%;margin-left:-190px;top:85px}
.scrolled #searchBox{border-bottom:1px solid #a3b6bb}
