extends mailLayout

block content

	table#AnnounceBody
		tr
			td
				h1 Tired of ‘Everyone’ emails clogging up your inbox?
				h1.red You told us, and we listened!
				p.space &nbsp;
		tr
			td
				!= md('Starting **May 5th**, all “Everyone” emails will be collected together and sent once a day at 12pm as a single publication:')
				img(src='http://daily.kdhcd.org/public/images/DistrictDailyLogo.png' title='The District Daily')
		tr
			td
				p.halfSpace &nbsp;
				!= md('This daily newsletter will feature each email as its own news article, allowing you to click and see more of the posts you want to read.')
				!= md('**The ‘Daily also gives us the opportunity to communicate events from around the district, reminders and thoughts that center on our Kaweah Care Cornerstones, and much more!**')
				p.halfSpace &nbsp;
				h2 Suddenly your email became much more meaningful!
				p.halfSpace &nbsp;
				p(style='text-decoration:underline') The District Daily will bring all of our important information together!
				p.halfSpace &nbsp;
				!= md('*Here are some Highlights:*')
		tr
			td(bgcolor='#F9F9F9')
				p.halfSpace &nbsp;
				p(style='font-weight: bold') ‘Everyone’ emails from the past day are front and center without overwhelming your inbox
				p.halfSpace &nbsp;
		tr
			td
				p.halfSpace &nbsp;
				p(style='font-weight: bold') Each article link takes you to the District Daily site allowing you to read each post for the day without having to go back to the email
				p.halfSpace &nbsp;
		tr
			td(bgcolor='#F9F9F9')
				p.halfSpace &nbsp;
				p(style='font-weight: bold') There is even a ‘Like’ button on posts to show some positive feedback
				p.halfSpace &nbsp;
		tr
			td
				p.space &nbsp;
				!= md('*Here is what it looks like:*')
				img(src='http://daily.kdhcd.org/public/images/screenshot.jpg' title='The District Daily')
				p.space &nbsp;

		tr
			td
				p 
					| More features and enhancements will be coming
					br
					| to the District Daily in the future!
				p
					| If you have any questions or suggestions,
					br
					| please let us know or email 
					a(href='mailto:DistrictDaily@kdhcd.org') DistrictDaily@kdhcd.org
				p We want to improve this for all of us so any input is welcome!
				p.space &nbsp;

		tr
			td
				p Thank you!
				p
					a(href='mailto:KC%20Employee%20Connection%20%3cCommunicationTeam@kdhcd.org%3e') Kaweah Care Employee Connection Team
				p.space &nbsp;




