div#events.section
	h2 Events

	table
		- var index = 1
		- var liveDays = moment( events[ _.keys(events)[0] ][0].start).startOf('d').diff(moment().startOf('d'),'d') == 0 ? true : false;
		each day in events
			- index++
			- var bgcolor = index % 2 ? '#f9f9f9' : '';
			tr.day(class= index % 2 ? 'even' : 'odd')
				td.dayName
					- var daysAway = Math.abs( moment(day[0].start).startOf('d').diff(moment().startOf('d'), 'd') )
					if daysAway == 0
						h3= liveDays ? 'Today' : moment(day[0].start).format('ddd, MMM D')
					if daysAway == 1
						h3= liveDays ? 'Tomorrow' : moment(day[0].start).format('ddd, MMM D')
					if daysAway > 1
						h3= liveDays ? moment(day[0].start).format('dddd') : moment(day[0].start).format('ddd, MMM D')

				td.vSpace
				td.eventLists
					each eve in day
						div.event
							-// a.eventLink(href='http://kdcentral.kdhcd.org/Lists/District%20Events/DispForm.aspx?ID=#{eve.record.spId}')
							a.eventLink(href= listURL + 'E#{eve.record.spId}-#{eve.occurrence}?u=?')
								| &bull;
								span.eTitle= ' ' + eve.record.title + ': '
								span.times
									if eve.record.allDay
										span.allDay (all day)
									if !eve.record.allDay
										span.start= moment(eve.start).format('h:mma').replace(':00','')
										| &nbsp-&nbsp
										span.end= moment(eve.end).format('h:mma').replace(':00','')