extends layout


mixin prevPost(includeTitle, big)
	- big = big ? '@2x' : '';
	- imgHeight = big ? 32 : 16;
	if prevPost
		a(title=prevPost.title, href= rootURL + '/' + prevPost.spId, ontouchend='leaving(this)')
			img(height=imgHeight, src='/public/images/icons/09-arrow-west'+ big +'.png')
			if includeTitle
				span #{prevPost.title.length < 40 ? prevPost.title : prevPost.title.substr(0,40) + '...'}
	else
		if nextPost
			a(title='District Daily', href= rootURL + '/', ontouchend='leaving(this)')
				img(height=imgHeight, src='/public/images/icons/icon-hamburger'+ big +'.png')
				if includeTitle
					span District Daily

mixin nextPost(includeTitle, big)
	- big = big ? '@2x' : '';
	- imgHeight = big ? 32 : 16;
	if nextPost
		a(title=nextPost.title, href= rootURL + '/' +  nextPost.spId, ontouchend='leaving(this)')
			img(height=imgHeight, src='/public/images/icons/02-arrow-east'+ big +'.png')
			if includeTitle
				span #{nextPost.title.length < 40 ? nextPost.title : nextPost.title.substr(0,40) + '...'}
	else
		if prevPost
			a(title='District Daily', href= rootURL + '/', ontouchend='leaving(this)')
				img(height=imgHeight, src='/public/images/icons/icon-hamburger'+ big +'.png')
				if includeTitle
					span District Daily


block content

	- var rootURL = '/' + list;

	table#header
		tr
		td.nav
			+prevPost(false)
		//- img#hamburger(src='/public/images/icons/09-arrow-west.png', title='The District Daily')
		td
			a(href= rootURL,ontouchend='leaving(this)')
				img#logo(src='/public/images/DistrictDailyLogo.png', title='The District Daily')
		td.nav
			+nextPost(false)

	div.topNav
			a.toList(href= rootURL, title='The District Daily')
				div.img
				div.label Back

	div#prevPost.floatNav
		+prevPost(false, true)

	div#nextPost.floatNav
		+nextPost(false, true)


	div.socialSide
			div.act.like(data-bind='css:{userLiked: liked}')
				button
				div.count.likeCount(data-bind='text: likes().length') ...
				div.label Likes

			//- div.act.commentLink
			//- 	button
			//- 	div.count.commentCount(data-bind='text: comments().length') ...
			//- 	div.label Comments

	div.record
		h2.title= record.title.replace(/^-\s*|\s$/,'')
			//div.author
			//	a(href='http://apps.kdhcd.org/kdpeople/#view/employee/'+ record.username) #{record.creator}

		div.byline
			span.author= record.creator.replace(/(.*),\s?(.*)/, '$2 $1')

		div.eventDateTime
			if record.recurrence
				div#fromToDate.date
					-var $occurrenceDate = moment( occurrence.match(/(\w*)\./)[1] + '-01-01').add( parseInt( occurrence.match(/\.(\w*)/)[1] ) , 'd' )
					-var startDate = moment(record.startDate)
					div.month= $occurrenceDate.format('MMM YYYY')
					div.day= $occurrenceDate.format('D')
					div.weekday= $occurrenceDate.format('dddd')
					div.times
						span.start= startDate.format('h:mma').replace(':00','')
						| &nbsp;until&nbsp;
						span.end= moment(record.endDate).format('h:mma').replace(':00','')


			if !record.recurrence

				if moment(record.startDate).isSame(record.endDate, 'day')
					div#fromToDate.date
						-var startDate = moment(record.startDate)
						div.month= startDate.format('MMM YYYY')
						div.day= startDate.format('D')
						div.weekday= startDate.format('dddd')
						div.times
							span.start= startDate.format('h:mma').replace(':00','')
							| &nbsp;until&nbsp;
							span.end= moment(record.endDate).format('h:mma').replace(':00','')
				else
					div#fromDate.date
						-var startDate = moment(record.startDate)
						div.month= startDate.format('MMM YYYY')
						div.day= startDate.format('D')
						div.weekday= startDate.format('dddd')
						div.time= startDate.format('h:mma').replace(':00','')

					div#toDate.date
						-var endDate = moment(record.endDate)
						div.month= endDate.format('MMM YYYY')
						div.day= endDate.format('D')
						div.weekday= endDate.format('dddd')
						div.time= endDate.format('h:mma').replace(':00','')

		div#docBody!= record.body

		if record.hits
			div.hits Viewed <strong>#{record.hits}</strong> times

		if pageData
			div= JSON.stringify(pageData)



	div#social(data-bind='if:app.bottomVisible')

		div#likes
			a(name='likes')
			h3 Likes
			div.like(data-bind='css:{userLiked: liked}')
				button(ontouchend='this.click()')
				span.summary(data-bind='text: likeNames')
				span.viewLikes(data-bind='if: likes().length > 3' onclick='viewLikes()') [view likes]

			// ko if: showLikeDetails
			div#likeDetails(data-bind='foreach: likes')
				//- img(data-bind='attr: {src: "http://dbnet.kdhcd.org/empphotos/photos/thumbs/"+ user +".jpg"}')
				span(data-bind='text: name')
			// /ko

		//- div#comments
		//- 	a(name='comments')

		//- 	// ko if: comments().length
		//- 	h3 Comments
		//- 	div#commentList(data-bind='foreach: comments')
		//- 		div.comment
		//- 			img(data-bind='attr: {src: "http://dbnet.kdhcd.org/empphotos/photos/thumbs/"+ user +".jpg"}')
		//- 			div.data
		//- 				div.detail(data-bind='text: detail')
		//- 				span.name(data-bind='text: name')
		//- 				span.date(data-bind='text: moment(date).fromNow()')
		//- 	// /ko

		//- 	div.compose(data-bind='if:user')
		//- 		h3 Comment on this event
		//- 		textarea#newComment
		//- 		button#sendComment(onclick='doComment()') Submit


	table#prevNext(data-bind='if:app.bottomVisible')
		tr
			td.prevPost
				+prevPost(true, true)
			td.nextPost
				+nextPost(true, true)

	script.
		SPID = '#{record.spId}';
		USER = '#{user}' || null;
		NAME = null;

	//- if user == 'tanderso'
	script!= 'LIST = ' + JSON.stringify(listData)
	script!= 'RECORD = ' + JSON.stringify(record)

	if userData
		script.
			NAME = '#{userData.fName} #{userData.lName}';


	script(src='/public/javascripts/jq.js')
	script(src='/public/javascripts/ko.js')
	script(src='/public/javascripts/komap.js')
	script(src='/public/javascripts/underscore.js')
	script(src='/public/javascripts/moment.js')
	script(src='/public/javascripts/waypoints.js')
	script(src='/public/javascripts/record.js')
