extends mailLayout

block content
	div#header
		h1 The District Daily
		div.forDate #{moment().format('dddd, MMMM Do, YYYY')}
		//img(src='http://apps.kdhcd.org/daily/public/images/dr.png')

	if records.vip.length > 0
		div#vip.section
			//h2 Very Imporant
			each record in records.vip
				a.record(href= 'http://apps.kdhcd.org/daily/#{record.spId}')
					div.creator #{record.creator}
					h3.title= record.title
					div.created #{moment(record.created).format('ddd, MMM Do, YYYY - HH:mm')}

	if records.news.length > 0
		div#news.section
			h2 News
			each record in records.news
				a.record(href= 'http://apps.kdhcd.org/daily/#{record.spId}')
					div.creator #{record.creator}
					h3.title= record.title
					div.created #{moment(record.created).format('ddd, MMM Do, YYYY - HH:mm')}

	if events
		div#events.section
			h2 Upcoming Events
				ul
					li item
					li item
					li item

	if quote
		div#quote.section
			p Weekly quote...


//- block footer
//- 	table#emailFooter(border='0', cellpadding='0', cellspacing='0', width='100%')
//- 	tr
//- 		td.footerContent(align='center', valign='top', style='padding-bottom: 15px;')
//- 			| © 2013 EmailCo, All Rights Reserved.
//- 			br
//- 			| 123 Atlantic Ave. • Atlanta, GA 30318 USA
//- 		tr
//- 		td(align='center', valign='top')
//- 			table#utilityLink(border='0', cellpadding='5', cellspacing='0')
//- 			tr
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') View in Browser
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') Terms of Use
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') Privacy Policy
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') Unsubscribe
