style(type='text/css').
	/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
	body{ margin:0; padding:0; } img{ border:0 none; height:auto; line-height:100%; outline:none; text-decoration:none; } a img{ border:0 none; } a:link{ color: #3498db; } a:visited{ color: #3498db; } a:hover{ color: #2980b9 !important; text-decoration: underline !important; } .imageFix{ display:block; } table, td{ border-collapse:collapse; } #bodyTable{ height:100% !important; margin:0; padding:0; width:100% !important; } .ExternalClass{ width:100%; } .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{ 	line-height: 100%; } #outlook a{ 	padding:0; } table{ 	mso-table-lspace:0pt; 	mso-table-rspace:0pt; } img{ 	-ms-interpolation-mode:bicubic; }
	/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
	
	body{
		-webkit-text-size-adjust:100%;
		-ms-text-size-adjust:100%;
		background: #ffffff;
		color:#2c3e50;
		font-family:Helvetica, Arial, sans-serif;
		font-size:14px;
	}

	#bodyOLD{
		-webkit-text-size-adjust:100%;
		-ms-text-size-adjust:100%;
		background: #f9f9f9;
		color:#2c3e50;
		font-family:Helvetica, Arial, sans-serif;
		font-size:14px;
	}
	#emailContainer{
		width: 600px;
		margin: 1em auto 1em;
	}
	#emailContainerOLD{
		width: 600px;
		background: #fff;
		margin: 1em auto 1em;
		border: 1px solid #D2D7D8;
		box-shadow: 0 10px 15px rgba(52, 73, 94, 0.3);
	}
	#emailContainerOLD table{
		width: 100%;
	}
	#content{
		padding: 0;
	}
	h1{
		font-size: 2.5em;
		font-weight:normal;
		margin: .2em 0;
	}
	h2{
		margin: 0;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		color: #FF0086;
		text-transform: uppercase;
	}
	h3{
		font-size: 1.5em;
		font-weight: normal;
		margin: 0;

	}
	p.space{
		font-size: 2.5em;
		padding: 0;
		margin: 0;
	}
	p.halfSpace{
		font-size: 1em;
		padding: 0;
		margin: 0;
	}
	a.itemLink, a.itemLink:link, a.itemLink:visited{
		display: block;
		color: #2c3e50;
		text-decoration: none;
		text-align: left;
		margin: 0 1em;
	}
	tr.record td{
		border-bottom: 1px solid #ecf0f1;
		padding: .5em 0;
	}

	#news, .vip{
		width: 100%;
	}

	.section{
	}

	.section td{
	}


	.title{
		text-align: left;
		padding: .25em .5em;
	}
	.byLine{
		text-align: left;
		color: #6E7780;
		font-size: .9em;
		margin: 0 2em;
	}
	.creator{
	}
	a .creator, a .created{
		text-decoration: none !important;
	}
	.created{
		font-size: .9em;
	}

	#kcare{
		padding: 0;
		width: 100%;
	}
	#kcare td{
		width: 25%;
	}


	#header{
		width: 85%;
	}

	#header td{
		text-align: center;
		padding: 2em 0 0;

	}
	#header img{
		width: 500px;
	}

	.forDate{
		font-weight: normal;
		font-size: 1.5em;
		color: #34495e;
		line-height: 1.3em;
		text-transform: uppercase;
		margin: .6em 0 0;
	}
	.forDate .day{
		font-size: 1.5em;
	}
	.forDate .date{
		font-weight: bold;
		font-size: 1.6em;
	}

	#qotd{
		width: 95%;
	}

	#focusQuote td{
		font-size: 1.5em;
		text-align: center;
		//color: #677B91;
		//color: #FF4200;
	}

	#focus{
		border: 4px solid #FF4200;
		width: 95%;
	}

	#focus.second{
		border: none;
	}

	#focus td{
	}

	#focusTitle td{
		font-size: 1em;
		padding: .5em;
		text-align: center;
		font-weight: bold;
	}

	#focusTitle td{
		padding: 3pt 12pt;
	}

	#focusTitle h2 a{
		color: #FF4200;
		text-decoration: none;
	}

	#focusTitle h3{
		font-weight: normal;
		font-size: 1.7em;
	}

	#focusContent td{
		padding: 6pt 12pt 6pt;
		text-align: justify;
		text-indent: 2em;
	}

	#focusContent td a{
		text-decoration: none;
	}

	#focusQuote td a{
		text-decoration: none;
	}

	#focusContent a.linkingContent, #focusContent a.linkingContent:link, #focusContent a.linkingContent:visited{
		color: #2c3e50;
	}
	#focusContent a.linkingContent:hover{
		color: #3498db;
	}

	#focusContent a.readMore{
		display: inline;
		cursor: pointer;
		color: #3498db;
		text-decoration: underline;
	}

	#focusCornerstone td{
		text-align: center;
	}

	#events{
		width: 90%;
		margin: auto;
	}

	#events p.space{
		font-size: .33em;
		padding: 0;
		margin: 0;
	}

	#events td{
	}

	#events a{
		text-decoration: none;
	}

	#events .eTitle{

	}

	#events .times{
		font-size: .9em;
		color: #7f8c8d;
	}

	#events .dayName{
		text-align: center;
		width: 25%;
	}

	#events .vSpace{
		width: 1em;
	}

	#events h3{
		text-align: right;
		color: #FF0086;
		font-weight: normal;
		font-size: 1.2em;
	}

	#events .even td{
		background: #f9f9f9;
	}

	#weather{
		text-align: center;
		width: 100%;
	}

	#weather h3{
		font-size: 1.25em;
	}

	#weather .day{
		width: 33%;
		vertical-align: top;
	}

	#weather .summary{
		font-style: italic;
	}

	#weather .temp{
		font-size: 1.25em;

	}

	#weather .hi{
		font-weight: bold;
		font-size: 1.2em;
	}

	

	#outlook a.itemLink, #outlook a.itemLink:link, #outlook a.itemLink:visited{
		padding: 0;
		background: #00f;
	}
	#outlook .record td{
		padding: 0 0 .65em;
	}

	#foot{
		width: 100%;
		text-align: center;
		font-size: .9em;
		color: #7f8c8d;
		background: #f9f9f9
	}

	#foot td{
		padding: 1.5em;
	}

	.footerContent, .utilityLinkContent{
		color:#606060;
		font-family:Helvetica, Arial, sans-serif;
		font-size:13px;
	}
	.footerContent a, .utilityLinkContent a{
		color:#6DC6DD;
	}

	@media only screen and (max-width: 480px){
		body{font-size:19px !important; background: #ffffff;}
		#emailContainer{
			width: 480px;
			background: #fff;
			margin: 0 auto 0;
			border: none;
			box-shadow: none;
		}
		#header img{
			width: 85%;
		}

		#weather .summary{
		font-size: .8em;
		}

		#events{
			width: 100%;
			margin: auto;
		}

		#utilityLink{
			max-width:480px !important;
			width:100% !important;
		}

		.utilityLinkContent{
			background-color:#E1E1E1 !important;
			border-bottom:10px solid #FFFFFF;
			display:block !important;
			font-size:15px !important;
			padding:15px 0 !important;
			text-align:center !important;
			width:100% !important;
		}
		.utilityLinkContent a{
			color:#606060 !important;
			display:block !important;
			text-decoration:none !important;
		}
	}

	#AnnounceBody{
		text-align: center;
		font-size: 14pt;
		text-indent: 0px;
	}

	#AnnounceBody h1{
		font-weight: bold;
	}

	#AnnounceBody h1.red{
		color: #FF0086;
		font-size: 2em;
	}
	#AnnounceBody p{
		text-align: center;
		text-indent: 0px;
	}