doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width')
		title= title
	body

		include mailStyle

		table#bodyTable(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
			tr
				td(align='center', valign='top')

					table#emailContainer(border='0', cellpadding='20', cellspacing='0')
						tr
							td#content(align='center', valign='top')
								block content

		//- block footer
