extends mailLayout


// Kaweah Care Cornerstones:
// img(src='http://daily.kdhcd.org/public/images/kcare1.png' title='Ideal Work Environment')
// img(src='http://daily.kdhcd.org/public/images/kcare2.png' title='Excellent Service')
// img(src='http://daily.kdhcd.org/public/images/kcare3.png' title='Outstanding Health Outcomes')
// img(src='http://daily.kdhcd.org/public/images/kcare4.png' title='Financial Strength')


block content
	-var listURL = 'http://daily.kdhcd.org/' + moment(listDay).format('YYYY/MM/DD/')
	table#header.section
		tr
			td
				img(src='http://daily.kdhcd.org/public/images/DistrictDailyLogo.png' title='The District Daily')
				//h1 The District Daily
				div.forDate!= moment(listDay).format('[<span class="day">]dddd[</span><br/><span class="date">]MMMM Do[</span><br/>]YYYY')
		//- tr#beta
			//- td *******BETA*******
			//- td You are receiving a preview copy of the District Daily. This publication is not yet available District-wide, and significant changes may occur day-to-day as development progresses.

	//- var focus = {title: 'The Value of Open Communication', type: 'Focus', content: 'Why is open communication critical to a culture of excellence? First, communication enables us to clearly convey our mission, vision and values throughout the organization. Also, it is a way to provide strategic direction, both short and long-term, thus setting behavior expectations and establishing accountability. Finally, research tells us that a “no secrets” environment is essential for maintaining employee satisfaction.'}
	if focus
		-var focusLink = listURL + 'F' + focus.focusID + '?u=?';

		p.space &nbsp;
		table#focus(class='cornerstone c'+focus.meta)
			tr#focusTitle
				td
					p.halfSpace &nbsp;
					h2: a(href= focusLink)= focus.subject
			case focus.type
				when 'Focus'
					tr#focusContent
						-var truncCont = focus.content.match(/^((.*?)[.?!]){2}/)
						-truncCont = truncCont ? truncCont[0] + '...' : focus.content;
						td
							a.linkingContent(href= focusLink)= truncCont
							a.readMore(href= focusLink) Read More!
				when 'Quote'
					tr#focusQuote
						td: a(href= focusLink)= focus.content
			tr#focusCornerstone
				td
					p.halfSpace &nbsp;
					a(href= focusLink): img(src='http://daily.kdhcd.org/public/images/kcare'+ focus.meta +'.png')
					p.halfSpace &nbsp;



	if records.news.length > 0
		p.space &nbsp;
		table#news.section
			tr
				td
					h2 News

					mixin headline(record, vip)
						-var recordURL = listURL + record.spId + '?u=?'
						tr.record(class= vip? 'vip' : '')
							td(bgcolor = vip ? '#FFFFE2' : '')
								a.itemLink(href= recordURL)
									h3.title= record.title
									p.byLine
										span.creator= '— ' + record.creator.replace(/(.*),\s?(.*)/, '$2 $1')
										//- span.created #{moment(record.created).format('[ on] M/DD [at] H:mm')}

					each record in records.vip
						+headline(record, true)

					each record in records.news
						+headline(record)



	if events
		script!= 'EVENTS = ' + JSON.stringify(events)
		p.space &nbsp;
		table#events.section
			tr
				td(colspan=3)
					h2 Events

			-var index = 1
			each day in events
				-index++
				-var bgcolor = index % 2 ? '#f9f9f9' : '';
				tr.day(class= index % 2 ? 'even' : 'odd')
					td.dayName(bgcolor= bgcolor)
						- var daysAway = moment(day[0].start).diff(moment().startOf('day'), 'days')
						if daysAway == 0
							h3 Today
						if daysAway == 1
							h3 Tomorrow
						if daysAway > 1
							h3= moment(day[0].start).format('dddd')
					td.vSpace(bgcolor= bgcolor)
					td.eventLists(bgcolor= bgcolor)
						p.space &nbsp;
						each eve in day
							div.event
								-// a.eventLink(href='http://kdcentral.kdhcd.org/Lists/District%20Events/DispForm.aspx?ID=#{eve.record.spId}')
								a.eventLink(href= listURL + 'E#{eve.record.spId}-#{eve.occurrence}?u=?')
									| &bull;
									span.eTitle= ' ' + eve.record.title + ': '
									span.times
										if eve.record.allDay
											span.allDay (all day)
										if !eve.record.allDay
											span.start= moment(eve.start).format('h:mma').replace(':00','')
											| &nbsp-&nbsp
											span.end= moment(eve.end).format('h:mma').replace(':00','')
						p.space &nbsp;



	if weather
		p.space &nbsp;
		- var days = weather.days.slice(0,3)
		table#weather.section
			tr
				td(colspan=days.length)
					h2 Weather
					p.summary= weather.summary
			tr
				each day, index in days
					td.day
						div.icon
							img( width='80px' src='http://daily.kdhcd.org/public/images/climacons/' + day.icon + '.png')
						if index == 0
							h3 Today
						if index == 1
							h3 Tomorrow
						if index > 1
							h3= moment.unix(day.time).format('dddd')
						div.temp
							span.hi= Math.round(day.temperatureMax) + '° '
							| /
							span.lo= ' ' + Math.round(day.temperatureMin) + '°'
						div.summary= day.summary



	p.space &nbsp;
	table#foot.section
		tr
			td The <em>District Daily</em> is a summary of all the news happening around Kaweah Delta.<br/>Not receiving <em>"*Everyone"</em> emails anymore?<br/>You're welcome.



//- -var recordURL = listURL + record.spId + '?u=?'
//- tr.record.vip
//- 	td(bgcolor = '#FFFFE2')
//- 		a.itemLink(href= recordURL)
//- 			h3.title= record.title
//- 			p.byLine
//- 				span.creator= '— ' + record.creator.replace(/(.*),\s?(.*)/, '$2 $1')
//- 				span.created #{moment(record.created).format('[ on] M/DD [at] H:mm')}

//- -var recordURL = listURL + record.spId + '?u=?'
//- tr.record
//- 	td
//- 		a.itemLink(href= recordURL)
//- 			h3.title= record.title
//- 			p.byLine
//- 				span.creator= '— ' + record.creator.replace(/(.*),\s?(.*)/, '$2 $1')
//- 				span.created #{moment(record.created).format('[ on] M/DD [at] H:mm')}




//- if focus 
//- 	p.space &nbsp;
//- 	table#focus.second
//- 		tr#focusTitle
//- 			td
//- 				p.halfSpace &nbsp;
//- 				h2= focus.title
//- 		tr#focusContent
//- 			td= focus.content


//- if quote
//- 		p.space &nbsp;
//- 		table#quote.section
//- 			tr
//- 				td Weekly quote...

//- - var quoteOfTheDay = '"The greatest problem in communication is the illusion that it has been accomplished."\n George Bernard Shaw, author and playwright (1856 – 1950)';
//- if quoteOfTheDay
//- 	p.space &nbsp;
//- 	table#qotd
//- 		tr
//- 			td= quoteOfTheDay


//- block footer
//- 	table#emailFooter(border='0', cellpadding='0', cellspacing='0', width='100%')
//- 	tr
//- 		td.footerContent(align='center', valign='top', style='padding-bottom: 15px;')
//- 			| © 2013 EmailCo, All Rights Reserved.
//- 			br
//- 			| 123 Atlantic Ave. • Atlanta, GA 30318 USA
//- 		tr
//- 		td(align='center', valign='top')
//- 			table#utilityLink(border='0', cellpadding='5', cellspacing='0')
//- 			tr
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') View in Browser
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') Terms of Use
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') Privacy Policy
//- 				td.utilityLinkContent(valign='top')
//- 				a(href='...', target='_blank') Unsubscribe