doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/public/stylesheets/markdown.css')
		meta(name='viewport', content='width=device-width, minimal-ui')
	body(id=pageType + 'Body')
		block content
