extends layout

block content

	div#scheduledContent(data-bind='if: scheduledContent().length')
		h2 Scheduled Content
		ul
			li.header
				span.date Date
				span.type Type
				span.subject Subject
			// ko foreach: scheduledContent
			li.item(data-bind='click: function(data){editItem(data)}, css:{even: $index()%2}')
				span.date(data-bind='html: moment(date).format("[<em>]ddd[</em>] MM/DD")')
				span.type(data-bind='text: type')
				span.subject(data-bind='text: subject')
			// /ko

	// ko if:seltdItem
	div#editScheduledContent(data-bind='with: seltdItem')

		div#form
			h2 Compose Content

			div
				label(for='itemDate') Scheduled Date: 
				input#itemDate(type='date', data-bind='value: moment(date).format("YYYY-MM-DD")')

			div
				label(for='itemType') Type: 
				select#itemType(data-bind='value: type')
					option(value='quote') Quote
					option(value='focus') Focus of the Week

			div
				label(for='itemSubject') Subject: 
				input#itemSubject(data-bind='value: subject')

			div
				label(for='itemContent') Content:
				textarea#itemContent(data-bind='value: content')

			div
				button#saveItem(onclick='saveItem()') Save

		div#quotes
			div#quoteSearchInput
				label(for='search') Search for a quote: 
				input(data-bind='value: $root.quoteSearch, event:{keypress: function(data,event){searchQuote(data,event); return true;}}')#search

			div#quotePicker
				ul(data-bind='foreach: $root.quotes')
					li.quote(data-bind='css: {even: $index()%2}, text: quote, attr:{"data-id":id}')
	// /ko


	script(src='/public/javascripts/jq.js')
	script(src='/public/javascripts/ko.js')
	script(src='/public/javascripts/komap.js')
	script(src='/public/javascripts/underscore.js')
	script(src='/public/javascripts/moment.js')
	script(src='/public/javascripts/quotes.js')
