/* COLORS: */

@silver: #ecf0f1;
@darkSilver: #bdc3c7;
@grey: #95a5a6;
@darkGrey: #7f8c8d;
@blue: #3498db;
@darkBlue: #2980b9;
@green: #2ecc71;
@darkGreen: #27ae60;
@purple: #9b59b6;
@darkPurple: #8e44ad;
@white: #f9f9f9;
@brightWhite: #fff;
@black: #222;
@concrete: #95a5a6;
@darkConcrete: #7f8c8d;
@midnight: #34495e;
@darkMidnight: #2c3e50;
@red: #e74c3c;
@darkRed: #c0392b;
@yellow: #f1c40f;
@darkYellow: #f39c12;
