#eventBody .record{
	.byline{
		margin-bottom: 0;
	}

	#location{
		margin: 1em 0;
		text-align: center;
		
		span{
			font-weight: bold;
			font-size: 1.2em;
			color: @pink;
		}
	}
}

.eventDateTime{
	text-align: center;
	margin-bottom: 1em;

	.date {
		width: 225px;
		background: @brightWhite;
		border: 5px solid @pink;
		.inlineBlock;
		padding: 4px;
		text-align: center;
		margin: 1em .5em;
		font-size: 1.3em;
		.month {
			font-weight: bold;
			background: @darkMidnight;
			color: @brightWhite;
			padding: .25em 0;
		}
		.day {
			font-size: 4em;
			font-weight: bold;
			color: @pink;
			line-height: 1em;
			padding: 12px 12px 0;
		}
		.weekday {
			margin-bottom: 8px;
			color: @darkGrey;
			font-size: .9em;
		}
		.time, .times .start, .times .end{
			font-size: 1em;
			width: 4em;
			text-align: center;
			font-weight: bold;
		}
	}
}