body{
	font-family: 'Avenir Next', Verdana, 'sans-serif';
	font-size: 12pt;
	width: 35em;
	margin: 1em auto;
	padding-bottom: 5em;
}

h1{
	font-size: 3em;
	text-align: center;
}

h2{
	font-size: 2.3em;
	margin-top: 3.5em;
	border-bottom: 2px solid #000;
}
h3{
	font-size: 1.8em;
	text-align: center;
	margin-top: 2em;

}

hr{
	width: 3em;
	margin: 1em auto;
	display: none;
}

blockquote {
	border-left: 3px solid #000;
	padding-left: 1em;
	margin-left: 1em;
}

li{
	margin-bottom: 1em;
	p{
		text-indent: 0px;
	}
}

p{
	text-align: justify;
	text-indent: 2em;
}

#TOC{
	li{
		margin-bottom: 0;
	}
	li.H3{
		margin-left: 2em;
	}
}