#schedContBody{
	background: @white;
}


#scheduledContent{

	width: 800px;
	margin: 1em auto;

	li{
		&.header{
			background: @purple;
			color: @brightWhite;
		}
		cursor: pointer;
		border-bottom: 1px solid @darkSilver;
		text-align: left;
		&.even{
			background: @white;
		}
		span{
			.inlineBlock;
			&.date, &.type{
				width: 120px;
				text-align: center;
				em{
					.inlineBlock;
					width: 60px;
					.weightBold;
				}
			}

		}
		&.item span.type{
				text-transform: uppercase;
				font-size: .8em;
				.weightBold;
				margin: 0 30px;
				width: 60px;
			}

	}

}

#editScheduledContent{
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -400px;
	background: @brightWhite;
	padding: 1em 0;
	width: 800px;
	border: 1px solid @darkSilver;

	#form, #quotes{
		.inlineBlock;
		width: 50%;
		vertical-align: top;
	}
}


#quoteSearch{
	margin: 1em 0;
	input{
		font-size: 1em;
		padding: .2em;
	}
}

#quotePicker{
	height: 300px;
	border: 1px solid @darkSilver;
	overflow: auto;
	margin: .5em;
	.quote{
		padding: .25em;
		font-size: .8em;
		border-bottom: 1px solid @silver;
		&.even{
			background: @white;
		}
	}
}


